@mixin input-focus
    &:focus
        border: 2px solid #000

*
    font-family: 'Lato', sans-serif
    font-size: 15px
    line-height: 1.5

/* header */

.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: #000
    color: #fff
    z-index: 1

.header-wrapper
    display: flex
    justify-content: space-between
    align-items: center

.menu__list
    display: flex
    align-items: center
    @media (max-width: 600px)
        flex-direction: column
        align-items: start

.menu__item, .search__item
    position: relative
    cursor: pointer
    height: 100%

.search__item
    padding: 12px 24px

.menu__link, .menu__link:visited
    display: inline-block
    padding: 12px 24px
    text-transform: uppercase
    color: #fff

.menu__item:hover
    background-color: #fff
    .menu__link
        color: #000
    .menu__dropdown
        @media (min-width: 600px)
            display: block
            position: absolute
            left: 0
            top: 100%

.menu__dropdown
    display: none
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%)
    background-color: #fff

.menu__dropdown-icon
    padding-left: 5px
    @media (max-width: 600px)
        &:before
            display: none

.menu__dropdown-link
    display: block
    min-width: 160px
    padding: 8px 16px
    text-transform: capitalize

.menu__dropdown-link:hover
    font-weight: 600

.search
    @media (max-width: 600px)
        display: none

.menu__item
    @media (max-width: 600px)
        display: none
        &:first-child
            display: block

.search__item:hover
    background-color: #F44336

/* hamburger */

.hamburger
    display: none
    cursor: pointer
    align-self: start
    @media (max-width: 600px)
        display: block
    &__list
        box-sizing: content-box
        min-height: 22.5px
        height: 100%
        padding: 12px 24px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__item
        width: 12px
        height: 2px
        margin: 2px 0
        background-color: #fff
    &:hover
        .hamburger__item
            background-color: #000

/* main */

.main
    &__wrapper
        max-width: 2000px
        text-align: center
        margin: 0 auto
        margin-top: 45px

/* slider */

.slider
    &-wrapper
        position: relative
    &__img
        width: 100%
    &__text
        position: absolute
        bottom: 32px
        left: 50%
        transform: translateX(-50%)
        color: #fff
    &__title
        font-size: 24px
        margin: 20px 0
        @media (max-width: 600px)
            display: none
    &__subtitle
        font-family: Arial, sans-serif
        font-weight: 600
        @media (max-width: 600px)
            display: none

/* container */

.container
    max-width: 768px
    margin: 0 auto
    padding: 0 16px
    @media (max-width: 600px)
        width: 100%

/* title */

.title
    font-family: 'Segoe UI', Arial, sans-serif
    font-size: 30px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 5px
    color: #000

/* subtitle */

.subtitle
    font-style: italic
    color: #000

/* button */

.btn
    padding: 8px 16px
    color: #fff
    background-color: #000

/* hover */

.btn--hover
    &:hover
        color: #000
        background-color: #fff

.img--hover
    &:hover
        opacity: 0.8

/* band */

.band
    min-height: 600px
    padding: 64px 0
    display: flex
    align-items: center
    &__text
        text-align: left
        margin-top: 15px
        margin-bottom: 50px

.band-flex
    display: flex
    @media (max-width: 600px)
        flex-direction: column
    &__inner
        flex-basis: 33.3333%
    &__img
        width: 60%
        height: auto
        margin-top: 15px
    &__name
        @media (max-width: 600px)
            margin-top: 16px

/* tour */

.tour
    position: relative
    min-height: 850px
    background-color: #000
    padding: 64px 0
    display: flex
    align-items: center
    &__title, &__subtitle
        color: #fff
    &__tour-list
        margin-top: 30px
    &__tickets
        margin-top: 32px

.tour-list
    text-align: left
    background-color: #fff
    &__item
        padding: 8px 16px
        border-bottom: 1px solid #ddd
        &:last-child
            border: none
    &__month
        color: #757575
    &__availability
        display: inline-block
        height: 100%
        margin-left: 16px
        padding: 0 8px
        color: #fff
        background-color: #F44336
    &__notice
        border-radius: 50%
        padding: 0 8px
        float: right
        margin-right: 16px
        color: #fff
        background-color: #000

.tour-tickets
    display: flex
    @media (max-width: 600px)
        flex-direction: column
    &__inner
        flex-basis: 33.3333%
        margin: 0 8px
        @media (max-width: 600px)
            flex-basis: 100%
            margin: 16px 0 0 0
        &:first-child
            margin-left: 0
        &:last-child
            margin-right: 0
    &__wrapper
        background-color: #fff
        text-align: left
        padding: 0 16px
    &__img
        width: 100%
    &__title
        padding: 15px 0 0 0
    &__date, &__descr, &__btn
        margin: 15px 0
    &__title
        font-weight: bold
    &__date
        opacity: 0.6

.overlay
    position: fixed
    top: -200%
    left: 0
    z-index: 2
    min-width: 100vw
    min-height: 100vh
    background-color: rgba(0, 0, 0, 0.4)
    &--active
        top: 0
.ticket-modal
    position: fixed
    top: -260%
    left: 50%
    z-index: 2
    transform: translateX(-50%)
    max-width: 900px
    width: 100%
    padding: 0 15px
    transition: 1s top
    &--active
        top: 10%
    &__header
        min-height: 128px
        background-color: #009688
        color: #fff
        display: flex
        align-items: center
        justify-content: center
    &__header-btn
        width: 52px
        height: 52px
        position: absolute
        right: 15px
        top: 0
        background-color: rgba(0, 0, 0, 0)
        &-component
            display: inline-block
            width: 100%
            height: 100%
            &:after, &::before
                content: ''
                position: absolute
                top: 50%
                left: 50%
                display: block
                width: 20px
                height: 2px
                background-color: #fff
            &::after
                transform: translate(-50%, -50%) rotate(45deg)
            &::before
                transform: translate(-50%, -50%) rotate(-45deg)
            &:hover
                background-color: #fff
                &::before, &::after
                    background-color: #000
    &__title
        text-transform: capitalize
        color: #fff
    &__suitcase
        font-size: 30px
        margin-right: 15px
    &__main
        width: 100%
        min-height: 350px
        text-align: left
        display: flex
        flex-direction: column
        padding: 15px
        background-color: #fff
    &__input-wrapper
        margin: 15px 0
    &__input
        width: 100%
        padding: 8px
        border: 2px solid #ccc
        @include input-focus
    &__main-btn
        width: 100%
        text-transform: uppercase
        padding: 16px
        background-color: #009688
        color: #fff
    &__footer
        min-height: 80px
        display: flex
        justify-content: space-between
        align-items: center
        &-btn
            padding: 8px 16px
            background-color: #F44336
            color: #fff
        &-link
            color: blue
            text-decoration: underline

/* contact */

.contact
    min-height: 350px
    padding: 64px 0
    &__flex
        margin-top: 50px
        display: flex
        @media (max-width: 600px)
            flex-direction: column
    &__inner
        width: 50%
        flex-basis: 50%
        display: flex
        flex-direction: column
        align-items: flex-start
        @media (max-width: 600px)
            flex-basis: 100%
            width: 100%
            &:last-child
                margin-top: 16px
    &__icon-wrapper
        font-size: 18px
        i
            text-align: left
            width: 30px
    &__input-wrapper
        display: flex
        flex-wrap: wrap
    &__input-inner
        width: 50%
        padding: 0 8px
        @media (max-width: 600px)
            width: 100%
        &:last-child
            margin-top: 8px
            width: 100%
    &__input
        width: 100%
        padding: 8px
        border: 2px solid #ccc
        &--active
            &:focus
                border: 2px solid #000
    &__btn-wrapper
        text-align: right
        margin-top: 20px
    &__btn
        text-transform: uppercase

/* map */

.map
    &__img
        width: 100%
        filter: grayscale(50%)

/* footer */

.footer
    padding: 64px 0
    text-align: center
    &__social-link
        margin: 0 10px
        i
            font-size: 24px
            color: gray
            &:hover
                opacity: 0.8
